.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #555a61;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

h3{
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 2rem;
  color: #6dc3da;
}

p {
  font-size: 2.5rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

#expr1{
  width: 35px;
  height: 35px;
}

#expr2{
  width: 35px;
  height: 35px;
}


.btn{
  font-size: 30px;
  width: 200px;
  margin: 20px;
  height: 50px;
  font-family: 'Indie Flower', cursive;
  border-radius: 10px;
}

.btn:hover{
  cursor: pointer;
  background-color: #232931;
  color: white;
}


